li {
  align-items: center;
  background-color: #faedcd;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0.5rem 0;
  box-shadow: 0.3rem 0.3rem 1rem #2e2e2e7c;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  overflow-wrap: break-word;

  .check-task {
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    width: 15%;
  }

  .task-text {
    text-align: left;
    padding-right: 1rem;
    width: 83%;
  }
  .close-task {
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    transition: 300ms ease-out;
    width: 2%;
    transform: translate(0.5rem, -0.8rem);
    justify-content: flex-end;
    align-self: stretch;
    &:hover {
      color: #d4a373;
      font-size: 1.4rem;
      transition: 300ms ease-in;
    }
  }

  .text-task-completed {
    text-decoration: line-through;
  }

  .check-task-completed,
  .text-task-completed {
    color: #ccd5ae;
  }

  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    background-color: #2e2e35;
    .close-task {
      &:hover {
        color: #8f8e99;
      }
    }
    .check-task-completed,
    .text-task-completed {
      color: #595a67;
    }
  }
}
