body {
  margin: 0;
  background-color: #e9edc9;
  #root {
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    justify-content: center;
    overflow-x: hidden;
    padding: 1.5rem 1.8rem;
    width: 100%;
  }

  &:before {
    background-image: url("../public/top-wave.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 20rem;
    position: fixed;
    top: 0;
    width: 100%;
    @media screen and (min-width: 720px) {
      background-image: none;
      background-color: #fefae0;
      border-radius: 0 0 90% 90%;
      height: 15rem;
    }
  }
  &:after {
    background-image: url("../public/bottom-wave.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    height: 20rem;
    position: fixed;
    width: 100%;
    @media screen and (min-width: 720px) {
      height: 75%;
    }
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0b;
    color: #f4f4f5;
    &:before {
      background-image: url("../public/top-wave-dark.svg");
      @media screen and (min-width: 720px) {
        background-color: #252422;
      }
    }
    &:after {
      background-image: url("../public/bottom-wave-dark.svg");
    }

    
  }
}
