body, #root {
  box-sizing: border-box;
  margin: 0;
  padding: 1.5rem .8rem;
  width: 100%;
  background-color: #e9edc9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}